.exp-page {
    z-index: 5;
    max-width: 800px;
    margin: auto;
    padding: 50px;
}

.exp-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 60px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exp-details {
    flex: 1;
    color: white;
}

.exp-details h2 {
    flex: 1;
    color: white;
    padding-top: 20px;
    padding-left: 40px;
}

.exp-details p {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.exp-tags {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
}

.tag {
    background-color: gray;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 0.9em;
}

.exp-links {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.exp-links a {
    margin-right: 10px;
    padding-left: 40px;
    text-decoration: none;
    color: white;
}

.exp-links a:hover {
    text-decoration: underline;
}