
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


header {

    position: absolute;
    top: 0px;
    left: 0px;
    font-size:larger;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 10;
}

nav a {
    position:relative;
    display: inline-block;
    text-align: center;
    left: 100%;
    padding: 0px 60px;
    margin: 10 1rem;
    color: white;
    text-decoration: none;

}

nav a:hover{
    color: aquamarine;
}

header .nav-btn{
    position: absolute;
    left: 2rem;
    top: 2rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    display: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 100px;
        left: 0px;
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn{ 
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }

}