.projects-page {
    max-width: 800px;
    margin: auto;
    padding: 50px;
}

.projects-page h1 {
    padding-top: 65px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.project-card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 60px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details {
    flex: 1;
    color: white;
}

.project-details h2{
    flex: 1;
    color: white;
    padding-top: 20px;
    padding-left: 40px;
}

.project-details p {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.project-tags {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
}

.tag {
    background-color: gray;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 0.9em;
}

.project-links {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.project-links a {
    padding-left: 40px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.project-links a:hover {
    text-decoration: underline;
}