Home.css

/* Overall page styling */
.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 #particles canvas {

   z-index: -1;
   height: 100%;
   width: 100%;
   position: absolute;
 }

/* Styling for animated GIF */
.gif-container {
  position: absolute;
  /* Position absolute to position relative to its parent */
  top: 150px;
  /* Adjust as needed */
  left: 300px;
  /* Adjust as needed */
  transform: translateX(-50%);
  /* Center horizontally relative to left edge */
}

.gif-container-img {
  width: 500px;
  /* Adjust the width */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 10px;
  /* Rounded corners */
}

/* Main content styling */
.App-main {
  color: white;
  z-index: 0;
  margin-left: 300px;
  flex: 20;
  padding: 200px;
}

.button-container {
  margin-top: 50px;
}

.home-button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #3f9bcf;
}

/* Footer styling */
.App-footer {
  z-index: 0; 
  height: 50px;
  background-color: #282c34;
  color: white;
  width: 100%;
  padding: 0px;
  position: fixed;
  bottom: 0;
  text-align: center;
}